* {
    padding: 0;
    margin: 0;
}
html, body{
    background-color: #221714;
    color: #fff;
    height: 100%;
}
div{
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}
header {
    background-color: #e94c04;
    height: .2rem;
}
nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5em;
}
nav > a {
    color: #fff;
    text-decoration: none;
}
nav > a:hover{
    color: #ffd600;
    text-decoration: overline;
}
main.capa{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex: 1;
    gap: 3%;
}
main.capa > a{
    color: #fff;
    text-decoration: none;
}
section.capa{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: solid 1px #e94c04;
    padding: 1%;
    display: flex;
    align-items: center;
}
section.capa > img{
    width: 200px;
    height: 200px;
}
main.att{
    text-align: center;
    margin-top: 1%;
    flex: 1;
}
main.att > a{
    color: #fff;
    text-decoration: none;
}
section.att > img{
    width: 100px;
    height: 100px;
}
section.att{
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 3%;
    text-align: left;
    border: solid 1px #e94c04;
    padding: 1%;
    font-size: 2rem;
}
                    /* pagina de leitura do manga */
main.ler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.ler{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.ler > h1{
    margin-bottom: 5%;
}
section.manga{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
section.manga > img{
    width: 60%;
}
input.topo{
    background-color: #f0f8ff;
    border: 2px solid #000;
    padding: 5%;
    margin: 10%;
}
a.topo{
    text-decoration: none;
    color: #000;
}
@media(max-width: 768px){
    section.manga > img{
        width: 95%;
    }
    section.ler{
        font-size: 1.5em;
    }
    nav{
        font-size: 2em;
    }
}
@media(max-width: 425px){
    section.ler{
        font-size: 1em;
    }
    nav{
        font-size: 1.5em;
        gap: 2px;
    }
}
footer{
    background-color: #e94c04;
    padding: 1px;
    display: flex;
    flex-direction: column;
    font-size: .6em;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
a.a{
    text-decoration: none;
    color: #fff;
}
